*{
    margin: 0;
    padding: 0;
}

a{
text-decoration:none;

}

@font-face {
  font-family: Rondalo;
  src: local(""),
  url("RONDALO_.TTF") format("truetype");
}
@font-face {
  font-family: Poor Richard;
  src: local(""),
  url("POORICH.TTF") format("truetype");
}



html,body{
    width: 100%;
    margin:auto;
    height: 100%;
}
.wrap{
    float: inherit;
    width: 960px;
    margin: auto;
    height: 100%;
}


.SlideMain{
    width: 100%;
    box-shadow: 0px 4px 3px rgba(0,0,0,0.5);   
}

.slidesjs-navigation {
    position: absolute;
    background: rgba(0,0,0,0);
    color: rgba(0,0,0,0);
    top: -300px;
}
.slidesjs-navigation:hover{
    cursor: default;
}



/************************ MENU ***********************/

.menu{
    background-color: #ac987d;
    height: 250px;
       border-bottom: 2px solid white;
}

.Floritura,.Titulo{
    margin-top:20px;
}
.Floritura{
    margin-top:20px;
    width: 40%;
}
.Florituraizquierda{
    float: left;
}
.Florituraderecha{
    float: right;
}
.Florituraizquierda img{
    float: right;
    transform: rotateY(180deg);
}
.Floritura img{
    width: 250px;
}

.Titulo{
    float: left;
    width: 20%;
}
.Titulo h1{
    color: white;
    text-align: center;
    font-style: italic;
    font-size: 36pt;
    font-family: "Poor Richard";
    letter-spacing: 12px
        
}

.izquierda{float: right;}
.derecha{float: left;}

.izquierda,.derecha{
    display: flex;
    
    list-style: none;
    width: 100%;
    margin-top: 20px;
}

.izquierda li,.derecha li{
    margin: auto;
}

.izquierda li a p,.derecha li a p{
    font-size: 17pt;
    font-family: "Poor Richard";
    text-align: center;
    color: white;
}

.izquierda li a p:hover,.derecha li a p:hover{
 cursor: pointer;
    color: black;
}

/************************************************************/

.FotoInicio{
    height: 500px;
    background: red;
}

/*******************La Boda*****************************/

.arriba{
    margin-bottom: -20px;
    position: relative;
    top: -20px;
    z-index: 100;
}
.separacion img{
    width: 100%;
}
.abajo{
    transform: rotateX(180deg);
}


.secciones ul{
    list-style: none;
    display: flex;
    width: 960px;
    margin: auto;
    align-content: center;
}
.secciones ul li{
    width: 50%;
    
}
.secciones ul li div{
    float: left;
    width: 100%;
    height: 200px;
    align-content: center;
    
}


.seccionToggle1 div p,.seccionToggle2 div p{
	width:100%;
	font-size:16pt;
		margin-bottom:20px;
	
}

.seccionToggle1 div img,.seccionToggle2 div img{
	width:44%;
	height:200px;
	float:left;
}

.seccionToggle1 div iframe{
	width:44%;
	float:right;
	height:200px;
	margin-top:0;
	margin-right: 0;
}
.seccionToggle2 div .derechaimg{
	width:54%;
	float:right;
	height:200px;
	margin-top:0;
	margin-right: 0;
}

.secciones ul li .Graduaciones{
    border-right: 10px solid #ac987d;
}

.secciones ul li div h2{
    position: relative;
    width: 100%;
    text-align: center;
    top: 37%;   
    font-size: 34pt;
    font-family: "Orator Std";
     opacity: 100;
    transition: 2s;
   
    
}
.secciones ul li div:hover{
    cursor: pointer;
}
.secciones ul li div:hover h2{
font-size: 34pt;
    opacity: 0;
}


.Boda{
    width: auto;
    margin: auto;
    margin-bottom: 10px;
}
.Boda h2{
    text-align: center;
    font-size: 34pt;
    font-family: "Poor Richard";
    letter-spacing: 20px;
}


.seccionToggle1,.seccionToggle2{
 padding-top: 20px;
    margin: 20px 0;
    display: none;
    height: 300px;
    
}


.seccionToggle1 div h1,.seccionToggle2 div h1{
    float: left;
    width: 100%;
    font-family:"Rondalo";
    font-size: 22pt;
    text-align: center;
}
.derechaGraduaciones{
    margin-left: 30px;
    float: left;
    width: 450px;
}
.seccionToggle1 div ul,.seccionToggle2 div ul,.seccionToggle3 div ul,.seccionToggle4 div ul{
    float: left;
    margin-left:15px;
    display: list-item;    
    width: 450px;
}

.seccionToggle1 div ul li,.seccionToggle2 div ul li{
    width: 100%;

    list-style: circle;
}
.seccionToggle1 img{
    background-image: url(../assets/Ceremonia/ceremonia.png);
    background-size: cover;
}
.izquierdaimg{
    background-image: url(../assets/Fiesta/5.jpg);
    background-size: cover;
}
.derechaimg{
    background-image: url(../assets/Fiesta/Captura.JPG);
    background-size: cover;
}

/*****************************************************************/

/*****************************Hoteles****************************/


.Hoteles{
    height: 100%;
    width: auto;
    margin: auto;
    margin-bottom: 10px;
}
.Hoteles div h1{
    text-align: center;
    font-size: 34pt;
    font-family: "Poor Richard";
    letter-spacing: 20px;
}

.hotelesSeccion{
    height: 100%;
 width: 100%;   
    margin-top: 20px;
}
.textoHoteles p{
    width: 100%;
    height: 150px;
    font-size: 16pt;
    text-align:center;
    margin-left: 20px;
    float: left;
    
    
}
.hotelesParrafo{
    float: left;
    font-size: 20pt;
    margin-bottom: 20px;
    text-align: center;
    width: 100%;
}
.ImagenHoteles{
    margin-right: 20px;
    width: 44%;
    float: right;
    height: 150px;
    margin-bottom: 10px;
    
}

.ImagenHoteles a p{
    width: 100%;
    height: 100%;
}

.AC{
    background-image: url(../assets/Hoteles/HotelACGuadalajara.jpg);
    background-size: cover;
}

.Melia{
    background-image: url(../assets/Hoteles/HotelSolMelia.jpg);
    background-size: cover;
    background-position: center;
}

.textoHoteles{
	width:44%;
	background:none;

}



.hotelesSeccion div img{
    width: 100%;
    float: right;
    height: 100%;
    margin-right: 20px;
    margin-top:0;
	background-color:red;
}

.textoHoteles ul{
    margin-top: 10px;
	list-style: none;
	float: left;
	width:100%;
    height: 100%;
	
}
.textoHoteles ul li{
	float: left;
	margin-bottom: 10px;
}

/*********************************************************************/

.ImagSeparacion{
    margin-top: 20px;
    float: left;
    width: 100%;
    height: 350px;
    background-image: url(../assets/Separacion/separacion.png);
    background-size:cover;
    background-attachment: fixed;
    background-position: center;
    
}

/***************************Lista De Bodas***************************/

.ListaDeBodas{
    height: 600px;
    width: auto;
    margin: auto;
    margin-bottom: 10px;
}
.ListaDeBodas h1{
   text-align: center;
    font-size: 34pt;
    font-family: "Poor Richard";
    letter-spacing: 20px;
}
/*******************************************************************/

/****************Secciones Transporte y localizacion***************/




.sectionsAbajo{
    height: 300px;
    margin-bottom: -44px;
    padding: 0;
}
.sectionsAbajo > .opened {
    
    margin: 0;
    width: 100%;
    height: 300px;
    display: flex;
    list-style: none;
    
}
.lista{
    position: relative;
    
    background-image: url(../../Captura.PNG);
    background-size: cover;
}

.sectionsAbajo > .opened > li{
    margin: 0;
    float: left;
    height: 300px;
    width: 55%;
}

.sectionsAbajo > .opened > li > div {
    margin: 0;
    float: left;
    height: 300px;
    width: 300px;
    cursor: pointer;
    transition: 3s;
    
}
.sectionsAbajo > .opened > li:hover {
    float: left;
    height: 300px;
    width: 80%;
    cursor: pointer;
    transition: 1s;
    
}



.active > p{
    position: absolute;
    margin-top: 10px;
    margin-left: 10px;
    font-family: "Rondado";
    font-size: 16pt;
    margin-left: 10px;
    cursor: pointer;
    /*
   color: #202020;
    background-color: rgba(0,0,0,0.5);
    letter-spacing: .1em;
    text-shadow: 
      -1px -1px 1px #111, 
      2px 2px 1px #363636;
    */
   
    
    
}

.desactive{
    position: fixed;
    display: none;
    transition-duration: 3s;
}
.button active{
    cursor: pointer;
    
    position: fixed;
    z-index: 99;
    
    
}

.lista5{
    position: relative;
    top: 43px;
    background-image: url(../../Captura.PNG);
    background-size: cover;
}
.li1{
    background-image: url(../assets/Llegar/LlegarDifuminado.png);
    background-position: center;
    background-size: cover;
}

.li2{
    background-image: url(../assets/Transporte/TransporteDifuminado.png);
    background-position: center;
    background-size: cover;
}

.li5{
    background-image: url(../assets/InformacionMadrid/madridDifuminada.png);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    
}






.Desaparecer{
    width: 100%;
    float: left;
    height: auto;
}

.sectionsAbajo > .close {
    
    
    margin: 0;
    
    width: 100%;
    height: 300px;
    display: flex;
    list-style: none;
    z-index: 0;
}

.close{
    background-image: url(../../Captura.PNG);
    margin: 0;
    width: 1200px;
    height: 300px;
    display: flex;
    list-style: none;
}


.li1opened{
    width: 100%;
    transition: 1s;
}
.li2opened{
    width: 100%;
    transition: 1s;
}
.li5opened{
    width: 100%;
    height: 700px;
    transition: 1s;
}
.li5opened:hover{
    width: 100%;
    height: 700px;
    transition: 1s;
    background-image: url(../assets/InformacionMadrid/madridClaro.png);
    cursor: pointer;
}



.li1closed{
    filter: opacity(0);
    transition: 1s;
    width: 100%;
    background-image: url(../assets/Llegar/LlegarClaro.png);
    background-position: center;
    background-size: cover;
    
}
.li2closed{
    filter: opacity(0);
    transition: 1s;
    width: 100%;
    background-image: url(../assets/Transporte/Transporteclaro.png);
    background-position: center;
    background-size: cover;
}
.li5closed{
    
    filter: opacity(0);
    transition: 1s;
    width: 100%;
    background-image: url(../assets/InformacionMadrid/madridClaro.png);
    background-position: center;
    background-size: cover;
}

.Eliminar{
    position: relative;
    top: -1000px;
}
.li2notselected {
    margin: 0;
    float: left;
    width: 100px;
    transition: 1s;
    filter: opacity(0);
}
.li1notselected {
    margin: 0;
    float: left;
    width: 100px;
    transition: 1s;
    filter: opacity(0);
}
.li5notselected {
    
    margin: 0;
    top: 100px;
    width: 100px;
    transition: 1s;
    filter: opacity(0);
}


.li1 div h1{
    position: absolute;
    top: 40%;
    left: 16%;
    letter-spacing: 5px;
    font-family: "Poor Richard";
    transition:1s;
}
.li1:hover div h1{
    position: absolute;
    top: 40%;
    left: 18%;
    transition: 1s;
}
.li2 div h1{
    position: absolute;
    top: 40%;
    right: 16%;
    letter-spacing: 5px;
    font-family: "Poor Richard";
    transition:1s;
}
.li2:hover div h1{
    position: absolute;
    top: 40%;
    right: 18%;
    transition: 1s;
}

.not{
display: none;
}




.fotosclose{
    
    display: none;
    transition: 3s;
    z-index: -4;
}
.fotosopen{
    display: inherit;
    transition: 2s;
    z-index: -4;
}


.Informacion{
    margin-bottom: 30px;
    float: left;
    width: 50%;
    height: 300px;
    
}
.Informacion h3{
    margin-top: 50px;
    text-align: center;
    font-size: 30pt;
    font-family: "Rondalo";
    letter-spacing: 20px;
    
}

.Informacion p{
    width: 450px;
    height: 150px;
    font-size: 16pt;
    text-align:center;
    margin-left: auto;
    margin-right: auto;
    
    
}

iframe{
    
    margin-bottom: 50px;
    margin-top: 50px;
    margin-right: 40px;
    height: 300px;
    float: right;
}



/****************************************************************/

/*************************Informacion Madrid********************/



.InformacionMadrid h1{
    cursor: pointer;
    width: 100%;
    text-align: center;
    font-size:38pt;
    margin-top: 20%;
    position: absolute;
    font-family: "Poor Richard";
    letter-spacing: 8px;
    word-spacing: 19px;
   
}


.sectionsInformacion{
    height: 700px;
    padding: 0;
    
}
.sectionsInformacion > .opened {
    
    margin: 0;
    width: 100%;
    height: 600px;
    display: flex;
    list-style: none;
    
}
.sectionsInformacion > .opened > li5{
    margin: 0;
    float: left;
    height: 600px;
    width: 100%;
}

.sectionsInformacion > .opened > li5 > div {
    margin: 0;
    float: left;
    height: 600px;
    width: 300px;
    cursor: pointer;
    transition: 3s;
    
}
.sectionsInformacion > .opened > li5:hover {
    float: left;
    height: 600px;
    background-image: url(../assets/InformacionMadrid/madridClaro.png);
    cursor: pointer;
    transition: 1s;
    
}
.sectionsInformacion > .close {
    
    
    margin: 0;
    
    width: 100%;
    height: 600px;
    display: flex;
    list-style: none;
    z-index: 0;
}



.BotonInfo{
    position: absolute;
    margin-left: 40px;
    font-size: 16pt;
    z-index: 100;
    margin-top: -41px
}
.activo{
   cursor: pointer;
}


.Contenido{
    width: 100%;
    margin-top: 100px;
}


.Contenido div{
    width: 50%;
    height: 350px;
    float: left;
    
}
.Contenido .Tapeo,.Contenido .Visitar{
    width: 50%;
    height: 350px;
    float: right;
    
}
.Contenido .Rooftops{
    height: 150px;
}

.Contenido .Restaurantes{
    background-image: url(../assets/InformacionMadrid/Programas/Restaurantes.png);
    background-size: cover;
        
}
.Contenido .Compras{
    background-image: url(../assets/InformacionMadrid/Programas/Shopping.png);
    background-size: cover;
}
.Contenido .Visitar{
    background-image: url(../assets/InformacionMadrid/Programas/Visitar.png);
    background-size: cover;
}
.Contenido .Rooftops{
    background-image: url(../assets/InformacionMadrid/Programas/Rooftops.png);
    background-size: cover;
    background-position: center;
}
.Contenido .Tapeo{
    background-image: url(../assets/InformacionMadrid/Programas/tapas-t.png)

}

.Contenido div h3{
    width: 100%;
    text-align: center;
    margin-top: 10px;
    font-size: 24pt;
    font-family: "Poor Richard";
    letter-spacing: 3px;
}
.Contenido div ul{
    font-family: "Rondalo";
    width: 100%;
    padding: 30px;
    font-size: 15pt;
    list-style:disc;
}
.Contenido .Tapeo .tapeoPonzano{
    padding: 20px;
    padding-top: 0px;
    list-style: circle;
}
.Contenido .Tapeo{
    height: 420px
}
.Contenido .Visitar{
    height: 430px;
}

/***********************************************************/







































